.hopper-console-element {
  #elementResource{
    width:100vw; height:@pannelHeight; border:none; padding:10px; .box-sizing(border-box);
    font-size:12px; color:#333;  .font-family();

    li, ul {
      display: none;
    }

    >li, >ul {
      display: block;
      i {
        color:@green5; cursor: pointer;
      }
    }

    li {
      padding:3px; border-radius: 3px; cursor: default;
      &:focus {

      }
    }
  }
}
