<!DOCTYPE html>
<html>
  <head id="dasd" ng-controoler>
    <title ng-controller="app"><%= title %></title>
    <meta charset="utf-8" />
  </head>
  <body>
  <input type="text" />
  <h1><%= title %></h1>
  <p id="dsd">Welcome to <%= title %></p>
  <ul class="dsad sk">dadf
    <li>smile</li>
    <li>smile</li>
    <li>smile</li>
    <li>smile
      <ul class="dsdsd">
        <li>j</li>
        <li>j</li>
        <li>j</li>
        <li>j</li>
        <li>j
          <span>33</span>
          <span>33</span>
          <span>33</span>
          <span>33</span>
        </li>
      </ul>
    </li>
  </ul>

  <dsndsd>
      ddqdqwdqd
    </dsndsd>
    <p>
      <span>-1</span>
      <span>0</span>
      <span>1</span>
      <span>2</span>
      <span>3</span>
    </p>
  <ul>
    <li>ds jds</li>
  </ul>
  <ol>
    <li>
      <input />
      <button>dsadada</button>
    </li>
  </ol>
  <script src="socket.io.js"></script>
  <script src="hopper.js"></script>
  <script src="../test/lib/a.js"></script>
  <script>
    console.log('express!');
  </script>
  </body>
</html>
